<div class="rentcar">
  <h2 class="rentcar-header">Find your car</h2>
  <form [formGroup]="rentcarForm" class="rentcar-container" (ngSubmit)="onProcceed()">
    <div class="rentcar-container">
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of vehicleTypes" [value] = "type.value">{{type.value}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-left: 15px;">
        <mat-label>Gear System</mat-label>
        <mat-select>
          <mat-option *ngFor="let system of gearSystem" [value]="system.value" >{{system.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="rentcar-container">
      <mat-form-field appearance="fill">
        <mat-label>Picup Date</mat-label>
        <input matInput [matDatepicker]="pickup" style="border-style: none;">
        <mat-datepicker-toggle matSuffix [for]="pickup"></mat-datepicker-toggle>
        <mat-datepicker #pickup></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" style="margin-left: 15px;">
        <mat-label>Checkout Date</mat-label>
        <input matInput [matDatepicker]="checkout" style="border-style: none;">
        <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
        <mat-datepicker #checkout></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="rentcar-container">
      <mat-form-field appearance="fill">
        <mat-label>Pickup Location</mat-label>
        <mat-select>
          <mat-option *ngFor="let location of locations" [value]="location.name">{{location.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="checked" appearance="fill" style="margin-left: 15px;">
        <mat-label>Return Location</mat-label>
        <mat-select>
          <mat-option *ngFor="let location of locations" [value]="location.name">{{location.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span *ngIf="checked" (click)="deleteLocation()">
        <mat-icon>delete_forever</mat-icon>
      </span>
      <div *ngIf="!checked">
          <mat-checkbox formControlName="returnLocation" [(ngModel)]="checked">Return vehicle in different location</mat-checkbox>
      </div>
    </div>
    <div>
      <input type="submit" value="Procceed">
    </div>
  </form>
</div>
